<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100vw;" >
    <a class="navbar-brand"  href="#" >REGS.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" class="nav-link" ><a [routerLink]="['/']">Home</a></li>
            <li class="nav-item" class="nav-link" ><a [routerLink]="['/']">About</a></li>
            <li class="nav-item" class="nav-link" ><a [routerLink]="['/']">Contact Us</a></li>
        </ul>
        <a class="nav-link" [routerLink]="['/']" data-toggle="modal" data-target="#LoginModal">Login</a>
    </div>

</nav>